@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
}

ul li{
    font-size: 18px;
}

.slog {
    font-weight: bold;
    color: rgb(0, 94, 255);
    position: relative;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.slog::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 4px;
    background-color: #FFD700;
    margin-top: 10px;
}

.visi-misi{
    border-radius: 18px;
    padding: 20px;
    background-color: rgb(0, 94, 255);
}

.card{
	width: 250px;
	border-radius: 10px;
}

.card-img-top{
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}
span.text-muted{
	font-size: 12px;
}
small.text-muted{
	font-size: 8px;
}
h5.mb-0{
	font-size: 1rem;
}
small.ghj{
	font-size: 9px;
}
.mid{
	background: #ECEDF1;
}
h6.ml-1{
	font-size: 13px;
}
small.key{
	text-decoration: underline;
	font-size: 9px;
	cursor: pointer;
}
.btn-danger{
	color: #FFCBD2;
}
.btn-danger:focus{
	box-shadow: none;
}
small.justify-content-center{
	font-size: 9px;
	cursor: pointer;
	text-decoration: underline;
}

@media screen and (max-width:600px){
    .col-sm-4{
        margin-bottom: 50px;
    }
}

.section{
    font-weight: bold;
    color: #ffff;
    background-color: rgb(0, 94, 255);
    padding: 20px 80px;
    justify-content: space-between;
}

.button{
    margin-top: 16px;
}

.section a{
    font-size: 16px;
    padding: 8px 25px;
    background-color: #FFC700;
    border-radius: 20px;
    text-decoration: none;
}

@media screen and (max-width:780px){
    .section{
        flex-direction: column;
        padding: 20px 40px;
    }
    .button{
        margin-top: 20px;
    }
}

.tentang{
    font-size: 22px;
    text-align: justify;
}

.text{
    text-align: justify;
}

.hero img{
    width: 100%;
    
}

.footer-about{
    text-align: justify;
    line-height: 28px;
}
